* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #000;
	font-family: 'Raleway', Arial, sans-serif;
}
.wrapper {
	display: flex;
}
.menu {
	width: 15%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
}
.main {
	list-style: none;
	a {
		display: block;
		margin-bottom: 15px;
		padding: 10px;
		color: rgba(255, 255, 255, 0.8);
		text-decoration: none;
		position: relative;
		transition: color 0.35s ease;
		&:hover {
			color: #ff8c00;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				height: 2px;
				width: 100%;
				background-color: #ff8c00;
			}
		}
	}
	li.active a{
		color: #ff8c00;
	}
}
.content {
	width: 85%;
	padding: 20px;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: 30%;
		border-radius: 10px;
		margin-bottom: 20px;
	}
}
.info {
	text-align: center;
	font-size: 16px;
}
p {
	color: #fff;
}
.menu-burger {
	color: white;
	right: 30px;
	top: 30px;
	position: absolute;
	display: none;
	i {
		font-size: 30px;
	}
}
@media screen and (max-width: 1024px) {
	.wrapper {
		flex-direction: column;
	}
	.menu-burger {
		display: block;
	}
	.menu {
		.main {
			position: fixed;
			opacity: 0;
			visibility: hidden;
			transition: 0.1s;
			background: #141313;
		}
		.main.active {
			opacity: 1;
			visibility: visible;
		}
		width: 100%;
	}
	.content {
		width: 100%;
	}
}
